PORT=8080
ENV=development

DATABASE_URL=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET=files

FRONTEND_URL=http://localhost:3000
